{% extends "./base.html" %}

{% block title %} PelisRick {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion  Peliculas</h2>
        <div clas="card">
            <div class="card-body">
                <form action="/editarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{curso.codigo}}" class="form-control" placeholder="Codigo" 
                         maxlength="3" readonly required>

                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.nombre}}" class="form-control" placeholder="Nombre" 
                         maxlength="50" required>

                    </div>
                    <div class="form-group">
                        <input type="text" id="txtGenero" name="txtGenero" value="{{curso.genero}}" class="form-control" placeholder="Genero" 
                         maxlength="50" required>

                    </div>
                    <div class="form-group">
                        <input type="text" id="numAño" name="numAño" value="{{curso.año}}" class="form-control" placeholder="Año" 
                        max="4" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>

    </div>
</div>
{% endblock %}